@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

$Tomato: hsl(4, 100%, 67%);
$Dark-Slate-Grey: hsl(234, 29%, 20%);
$Charcoal-Grey: hsl(235, 18%, 26%);
$Grey: hsl(231, 7%, 60%);
$White: hsl(0, 0%, 100%);

body,
input,
textarea,
button {
   font-family: "Roboto", sans-serif;
   font-size: 1rem;
}

main {
   display: grid;
   min-height: 100vh;
   place-items: center;
   background-color: $Dark-Slate-Grey;
}

div.container {
   background-color: $White;
   width: 315px;
   height: 744px;

   img {
      width: 315px;
   }
}

div.info {
   margin: 30px 20px 40px;

   h1 {
      color: $Dark-Slate-Grey;
      margin-bottom: 20px;
   }

   p {
      margin-bottom: 20px;
   }

   ul {
      list-style: none;

      img {
         width: 20px;
      }

      li {
         display: flex;
         align-items: flex-start;
         gap: 1rem;
      }
   }
}

form {
   margin-top: 20px;

   label {
      color: $Dark-Slate-Grey;
      font-weight: bold;
      font-size: .78rem;
   }

   input {
      height: 50px;
      border-radius: 10px;
      padding-left: 25px;
      width: 100%;
      margin: 7px 0;
      border: .5px solid rgba(0, 0, 0, 0.377);
   }

   input:focus:invalid {
      background-color: #fdd;
      border-color: rgb(255, 48, 48);
   }

   input:valid {
      background-color: rgba(121, 255, 121, 0.1);
      border: 1px solid green;
   }

   span.error,
   span.correct {
      display: block;
      width: 100%;
      font-size: 80%;
      text-align: center;
      border-radius: 5px;
      padding: 0;
   }

   span.error {
      color: black;
      background-color: rgba(255, 0, 0, 0.24);
   }

   span.correct {
      color: white;
      background-color: rgba(0, 87, 0, 0.466);
   }

   .fas.fa-check-circle {
      color: darkgreen;
   }

   button {
      height: 50px;
      border-radius: 10px;
      padding: 10px 20px;
      margin-top: 20px;
      width: 100%;
      background-color: $Dark-Slate-Grey;
      color: $White;
      border: none;
      cursor: pointer;
   }

   button:hover {
      background: linear-gradient(45deg, #FF5670, #FF5670, #FF5F58, #FF644B);
      box-shadow: 0 7px 15px 1px rgba(255, 86, 112, 0.3)
   }
}


@media screen and (min-width: 768px) and (max-width: 992px) {
   div.container {
      width: 450px;
      height: 870px;

      img {
         width: 450px;
      }
   }

   div.info {
      h1 {
         font-size: 2.5rem;
         margin: 40px 0;
      }

      p {
         font-size: 1rem;
         margin-bottom: 20px;
      }

      ul {

         img {
            width: 27px;
         }
      }
   }

   form {

      input {
         height: 55px;
         font-size: 1.2rem;
      }

      span.error,
      span.correct {
         font-size: 100%;
      }

      button {
         height: 55px;
         font-size: 1.4rem;
      }
   }
}
